.testimonials {
  background:#fff;
  padding: 85px 0px 0px;
  @media(max-width:776px){
    padding: 50px 0 50px;
  }
  
}
.testimonials {

  // .testimonials__title

  &__title {
    font-size: 48px;
    text-align: center;
    font-family: "PlayfairDisplay-Bold";
    padding-bottom: 35px;    
  }
}

// ********slider***********
.slider{
  min-width: 0;
  // max-width: 1920px;
  position: relative;

}
.slick-slider{
  margin: 7px 50px;
}
// Ограничивающая оболочка
.slick-list{
 overflow: hidden;
//  min-height: 316px;
 margin: 0px -50px;
 padding: 0px 0!important;
}
// Лента слайда
.slick-track{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 232px;
          
}
// Стрелки
.slider .slick-arrow{
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 16px;
  width: 28px;
  height: 24px;
  margin-top: -12px;
  color: transparent;
  
}


.slick-center .slider__text::after{
  content:" ";
  width: 100%;
  height: 1px;
  background:#f1f5f7;
  position: absolute;
  top: 120%;
  left: 0;
  @media(max-width: 568px){
    top: 107%;
  }
  
}


.slider {

  // .slider__item

  &__item {
    text-align: center;
    max-width: 730px;
    padding: 40px 70px;
    margin: 4px 50px;
    -webkit-box-shadow: 0px 0px 8px 0px #00000036;
            box-shadow: 0px 0px 8px 0px #00000036;
    @media(max-width: 568px){
      padding: 10px 20px;
    }
  }

  // .slider__text

  &__text {
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    position: relative;
    @media(max-width: 568px){
      font-size: 16px;
      line-height: 24px;
    }
  }

  // .slider__author

  &__author {
    padding-top: 38px;
    text-align: left;
    font-style: normal;
    font-size: 18px;
  }
  &__counter{
    max-width: 830px;
    width: 100%;
    margin: 35px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 50px;
    p{
      font-size: 24px;
      padding-bottom: 30px;
    }
    @media(max-width: 568px){
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;   
    }
  }
  &__btn{
    background:none;
    border:1px solid #df8677;
    color: #df8677;
    font-size: 18px;
    width: 220px;
    height: 44px;
    @media (max-width:569px) {
      margin: 0 auto;
      
    }
  }
}



// Стрелка влево
.slider .slick-arrow.slick-prev{
 
  background:url('../img/arrow-slider-l.png') no-repeat;
 
  @media(min-width:778px){
    display:none!important;
  }
  @media(max-width:776px){
    left: -36px;
  }
}
// Стрелка вправо
.slider .slick-arrow.slick-next{

  background:url('../img/arrow-slider-r.png') no-repeat;
 
   @media(min-width:778px){
    display: none!important;
  }
  @media(max-width:776px){
    right: -36px;
  }
}